<mat-card>
  <mat-card-title class="title">Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
     </div>
      <div class="button-panel">
        <div class="pd-r">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        <div class="pd-r">
          <button mat-raised-button  color="primary" (click)="onClose()">Cancel</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
